.badge,
.menu__list-item--badge a::after {
  --ifm-badge-background-color: transparent;
  --ifm-badge-border-width: 1px;
  --ifm-badge-border-radius: 0.4em;
  --ifm-badge-padding-vertical: 0.4em;
  --ifm-badge-padding-horizontal: 0.7em;

  background-color: var(--ifm-badge-background-color);
  border: var(--ifm-badge-border-width) solid var(--ifm-badge-border-color);
  border-radius: var(--ifm-badge-border-radius);
  color: var(--ifm-badge-border-color);
  font-family: var(--ifm-font-family-monospace);
  font-variation-settings: 'wght' var(--ifm-font-weight-bold), 'wdth' 112.5;
  font-style: normal;
  font-size: 0.6em;
  line-height: 1;
  text-transform: capitalize;
  padding: var(--ifm-badge-padding-vertical) var(--ifm-badge-padding-horizontal);

  transform: translateY(-0.1em);
}

h1 .badge,
h2 .badge,
h3 .badge {
  font-size: 0.5em;
  transform: translateY(-0.3em);
}

.badge--primary {
  --ifm-badge-background-color: var(--neon-a-fg);
  --ifm-badge-border-color: var(--neon-a-fg);
  color: var(--ifm-background-color);
}

.badge--secondary {
  --ifm-badge-background-color: transparent;
  --ifm-badge-border-color: var(--text-secondary);
  color: var(--ifm-badge-border-color);
}

.badge--success {
  --ifm-badge-background-color: transparent;
  --ifm-badge-border-color: var(--ifm-color-success);
}

.badge--info {
  --ifm-badge-background-color: transparent;
  --ifm-badge-border-color: var(--ifm-color-info);
}

.badge--warning {
  --ifm-badge-background-color: transparent;
  --ifm-badge-border-color: var(--ifm-color-warning);
}

.badge--danger {
  --ifm-badge-background-color: transparent;
  --ifm-badge-border-color: var(--ifm-color-danger);
}

.badge--pro {
  --ifm-badge-border-color: var(--ifm-color-primary);
}

a.badge--pro:hover {
  --ifm-badge-background-color: var(--neon-a-bg-hover);
  text-decoration: none;
}

.menu__list-item--badge a::after {
  top: 0;
  margin-left: auto;
}

.menu__list-item.badge--pro a::after {
  content: "pro";
}

.theme-doc-version-badge {
  top: 0;
  font-size: 12px;
}
