.code-anchor {
  scroll-margin-top: calc(var(--ifm-navbar-height) + 1rem);
}

.code-anchor code {
  color: #ffcb6b;
}

.code-anchor a::after {
  content: "#";
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  padding: 0 0.2em;
}
