.code-anchor {
  scroll-margin-top: calc(var(--ifm-navbar-height) + 1rem);
}

.code-anchor code {
  color: oklch(0.55 0.1269 87.53);
  font-variation-settings: 'wght' 500, 'wdth' 100;

  [data-theme='dark'] & {
    color: oklch(0.87 0.1745 87.53);
  }
}

.code-anchor a::after {
  content: "#";
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  padding: 0 0.2em;
}
