.DocSearch {
  --docsearch-text-color: var(--text-primary);
  --docsearch-muted-color: var(--text-tertiary);
  --docsearch-container-background: var(--surface-1);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--gray-universal-36);
  --docsearch-searchbox-focus-background: var(--neon-a-bg-hover);
  /* Highlight */
  --docsearch-highlight-color: var(--ifm-color-primary-dark);
  /* Hit */
  --docsearch-hit-color: var(--text-primary);
  --docsearch-hit-active-color: var(--ifm-background-color);
  --docsearch-hit-background: var(--neon-a-bg-surface);
  /* Footer */
  --docsearch-footer-background: var(--surface-1);
}

[data-theme='dark'] .DocSearch {
  /* Highlight */
  --docsearch-highlight-color: var(--ifm-color-primary-light);
}


.DocSearch-Button {
  min-width: 25vw;
}

@media (max-width: 996px) {
  .DocSearch-Button {
    min-width: unset;
  }
}

[data-theme='light'] .DocSearch-Button-Key,
[data-theme='light'] .DocSearch-Commands-Key,
[data-theme='dark'] .DocSearch-Button-Key,
[data-theme='dark'] .DocSearch-Commands-Key {
  color: var(--text-secondary);
  background: transparent;
  box-shadow: none;
  border: 1px solid var(--text-secondary);
  top: 0;
  padding: 0;
}
