@font-face {
  font-display: swap;
  font-family: 'Martian Grotesk';
  font-stretch: condensed normal;
  font-style: normal italic;
  font-weight: 200 300 700 800;
  src: url('https://cdn.evilmartians.com/front/fonts/MartianGrotesk-1.0.woff2') format("woff2");
}

[data-theme='dark']:root {
  --ifm-color-primary-h: 208;
  --ifm-color-primary-s: 100%;

  --ifm-color-primary: hsl(var(--ifm-color-primary-h), var(--ifm-color-primary-s), 63%);
  --ifm-color-primary-dark: hsl(var(--ifm-color-primary-h), var(--ifm-color-primary-s), 58%);
  --ifm-color-primary-darker: hsl(var(--ifm-color-primary-h), var(--ifm-color-primary-s), 53%);
  --ifm-color-primary-darkest: hsl(var(--ifm-color-primary-h), var(--ifm-color-primary-s), 48%);
  --ifm-color-primary-light: hsl(var(--ifm-color-primary-h), var(--ifm-color-primary-s), 68%);
  --ifm-color-primary-lighter: hsl(var(--ifm-color-primary-h), var(--ifm-color-primary-s), 73%);
  --ifm-color-primary-lightest: hsl(var(--ifm-color-primary-h), var(--ifm-color-primary-s), 78%);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.2);

  --ifm-code-background: rgba(255, 255, 255, 0.15);

  --ifm-background-color: hsl(225, 24%, 7%);

  --ifm-font-weight-light: 200;
  --ifm-font-weight-normal: 300;
  --ifm-font-weight-semibold: 700;
  --ifm-font-weight-bold: 800;

  --ifm-font-family-base: 'Martian Grotesk', 'Roboto', sans-serif;
  --ifm-font-family-monospace: 'Martian Mono', monospace;
  --ifm-font-size-base: 16px;
  --ifm-font-weight-base: var(--ifm-font-weight-normal);
  --ifm-line-height-base: 2;

  --ifm-heading-font-family: 'Martian Grotesk', 'Roboto', sans-serif;

  --ifm-table-stripe-background: rgba(255, 255, 255, 0.05);
}

[data-theme='dark']:root, .footer--dark {
  --ifm-footer-background-color: #ffffff0d;
}

html {
  font-weight: var(--ifm-font-weight-base);
}

.markdown {
  font-size: 18px;
}

h1, h2, h3 {
  font-stretch: condensed;
}
