.markdown h1:first-of-type {
  position: relative;
}

.markdown h1:first-of-type::after {
  content: "";
  position: absolute;
  top: -1em;
  right: 0;
  width: 40%;
  height: 5em;
  z-index: -1;
  background: url('/img/pattern.svg');
}
