.intro__logo {
  width: 330px;
  max-width: 100%;
}

.intro__img {
  max-width: 100%;
}

.intro__img-light {
  display: block;

  [data-theme='dark'] & {
    display: none;
  }
}
.intro__img-dark {
  display: none;

  [data-theme='dark'] & {
    display: block;
  }
}
