:root {
  --ifm-menu-color: var(--text-secondary);
  --ifm-menu-color-background-hover: var(--neon-a-bg-hover);
  --ifm-menu-color-background-active: var(--neon-a-bg-active);
}

.menu {
  font-size: 15px;
  line-height: 20px;
  font-weight: var(--ifm-font-weight-normal);
  font-variation-settings: 'wght' var(--ifm-font-weight-normal), 'wdth' 87.5;
}

.menu__link {
  line-height: 20px;
}

.menu__link--sublist {
  font-weight: var(--ifm-font-weight-semibold);
  font-variation-settings: 'wght' var(--ifm-font-weight-semibold), 'wdth' 87.5;
}

/* Add a bit blank space to the side menu bottom
 */
.menu>.menu__list:last-child {
  margin-bottom: 2rem;
}
