:root {
  --ifm-navbar-background-color: oklch(0.95 0.008252 271.3302);
}

[data-theme='dark']:root {
  --ifm-navbar-background-color: oklch(0.2 0.0138 270.49);
}


.navbar__brand {
  margin-right: var(--ifm-navbar-item-padding-horizontal);
}


.navbar__items--right {
  margin-right: 1em;
}


.navbar__link--icon span {
  display: none;
}

.navbar__link--icon::before {
  content: '';
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;
}

.navbar__link--icon:hover::before {
  opacity: 0.8;
}

.navbar__link--github {
  &::before {
    background-image: url('/img/github-light.svg');
  }

  [data-theme='dark'] &::before {
    background-image: url('/img/github-dark.svg');
  }
}

.navbar__link--bluesky {
  &::before {
    background-image: url('/img/bluesky-light.svg');
  }

  [data-theme='dark'] &::before {
    background-image: url('/img/bluesky-dark.svg');
  }
}

.navbar__link--x {
  &::before {
    background-image: url('/img/x-com-light.svg');
  }

  [data-theme='dark'] &::before {
    background-image: url('/img/x-com-dark.svg');
  }
}

.navbar__link--discord {
  &::before {
    background-image: url('/img/discord-light.svg');
  }

  [data-theme='dark'] &::before {
    background-image: url('/img/discord-dark.svg');
  }
}

.navbar__link--sponsor {
  &::before {
    background-image: url('/img/heart-light.svg');
  }

  [data-theme='dark'] &::before {
    background-image: url('/img/heart-dark.svg');
  }
}


.navbar-sidebar .navbar__link--icon span {
  display: inline;
}

.navbar-sidebar .navbar__link--icon::before {
  background: none;
  width: auto;
  height: auto;
}

.navbar-sidebar .navbar__link--icon:hover::before {
  opacity: 1;
}

.navbar-sidebar .navbar__link--github::before {
  content: 'GitHub';
}

.navbar-sidebar .navbar__link--bluesky::before {
  content: 'Bluesky';
}

.navbar-sidebar .navbar__link--x::before {
  content: 'X (Twitter)';
}

.navbar-sidebar .navbar__link--discord::before {
  content: 'Discord';
}

.navbar-sidebar .navbar__link--sponsor::before {
  content: 'Sponsor imgproxy';
}
