:root {
  --ifm-navbar-background-color: oklch(0.95 0.008252 271.3302);
}

[data-theme='dark']:root {
  --ifm-navbar-background-color: oklch(0.2 0.0138 270.49);
}


.navbar__brand {
  margin-right: var(--ifm-navbar-item-padding-horizontal);
}


.navbar__items--right {
  margin-right: 1em;
}


.navbar__link--icon {
  &::before {
    content: '';
    display: block;
    mask-position: center;
    mask-repeat: no-repeat;
    background: var(--text-primary);
    width: 24px;
    height: 24px;
  }

  &:hover::before {
    background: var(--neon-a-fg);
  }
}

.navbar__link--github::before {
  mask-image: url('/img/github.svg');
}

.navbar__link--sponsor::before {
  mask-image: url('/img/heart.svg');
}


.navbar-sidebar .navbar__link--icon::after {
  margin-left: 0.5em;
}

.navbar-sidebar .navbar__link--github::after {
  content: 'GitHub';
}

.navbar-sidebar .navbar__link--sponsor::after {
  content: 'Sponsor imgproxy';
}
