[data-theme='dark']:root {
  --ifm-navbar-background-color: hsla(225, 24%, 5%);

  --ifm-navbar-search-input-background-color: rgba(255, 255, 255, 0.2);
  --ifm-navbar-search-input-icon: url('/img/search.svg');
}


.navbar__logo {
  height: 2.5rem;
}

.navbar__title {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 300;
}


.navbar__search-input {
  min-width: 25vw;
}

.navbar__search kbd {
  background-color: transparent;
}

@media (max-width: 996px) {
  .navbar__search-input {
    min-width: 0;
  }
}


.navbar__items--right {
  margin-right: 1em;
}


.navbar__link--icon span {
  display: none;
}

.navbar__link--icon::before {
  content: '';
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;
}

.navbar__link--icon:hover::before {
  opacity: 0.8;
}

.navbar__link--github::before {
  background-image: url('/img/github.svg');
}

.navbar__link--twitter::before {
  background-image: url('/img/twitter.svg');
}

.navbar__link--discord::before {
  background-image: url('/img/discord.svg');
}

.navbar__link--sponsor::before {
  background-image: url('/img/heart.svg');
}


.navbar-sidebar .navbar__link--icon span {
  display: inline;
}

.navbar-sidebar .navbar__link--icon::before {
  background: none;
  width: auto;
  height: auto;
}

.navbar-sidebar .navbar__link--icon:hover::before {
  opacity: 1;
}

.navbar-sidebar .navbar__link--github::before {
  content: 'GitHub';
}

.navbar-sidebar .navbar__link--twitter::before {
  content: 'Twitter';
}

.navbar-sidebar .navbar__link--discord::before {
  content: 'Discord';
}

.navbar-sidebar .navbar__link--sponsor::before {
  content: 'Sponsor imgproxy';
}
