name: Check links

on:
  push:
    branches:
      - master
    paths:
      - "*.md"
      - "**/*.md"
      - "*.mdx"
      - "**/*.mdx"
  pull_request:
    paths:
      - "*.md"
      - "**/*.md"
      - "*.mdx"
      - "**/*.mdx"

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.6.1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          args: docs README.md --exclude localhost --exclude twitter.com -v
